/* UPcon plugin: frontend styles */
.upcon-plugin {
    display: block;
}
.upcon-plugin form label {
    margin-bottom: 0;
}
.upcon-plugin .stacked {
    padding-top: 0;
}
.upcon-plugin .stacked.small-gap {
    padding-left: .5em;
}

